<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script src="~/Content/scripts/jquery-1.8.0.min.js"></script>
	<script src="~/Content/scripts/json2.js"></script>
    <title>____</title>
	<script type="text/javascript">
		var accessTokenParm = "accessToken=13d8062265c24f36b073be1a607c2f4b364d44c8&clientID=10001";
	</script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
